<div class="row">
  <div class="col-12 col-md-4 offset-md-4">
    <div class="card shadow-sm" *ngIf="registerScreen">
      <div class="card-body">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">

          <div class="form-group">
            <!-- user name -->
            <label for="email" class="control-label font-weight-bold">Name</label>
            <input type="text" class="form-control" formControlName="userName" placeholder="User Name"
              [ngClass]="{ 'is-valid': (submitted || f.userName.dirty) && !f.userName.errors, 'is-invalid': (submitted || f.userName.dirty) && f.userName.errors }">
            <div class="invalid-feedback" *ngIf="f.userName.errors">
              <span *ngIf="f.userName.errors?.required">user Name  is required</span>
              <span *ngIf="f.userName.errors?.email">User Name is not valid</span>
            </div>
          </div>
    
          <!-- password -->
          <div class="form-group">
            <label for="password" class="control-label font-weight-bold">Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Choose a password" autocomplete="new-password"
              [ngClass]="{ 'is-valid': (submitted || f.password.dirty) && !f.password.errors, 'is-invalid': (submitted || f.password.dirty) && f.password.errors }">
            <app-password-strength [passwordToCheck]="signupForm.value.password" (passwordStrength)="onPasswordStrengthChanged($event)"></app-password-strength>
          
            <div class="invalid-feedback" *ngIf="f.password.errors">
              <span *ngIf="f.password.errors?.required">Password is required</span>
              <span *ngIf="f.password.errors?.minlength">Password must be at least 20 characters long</span>
            </div>
          </div>

          <!-- crm password -->
          <div class="form-group">
            <label for="crmPassword" class="control-label font-weight-bold">crmPassword</label>
            <input type="password" class="form-control" formControlName="crmPassword" placeholder="Choose a crmPassword" autocomplete="new-crmPassword"
              (input)="checkPassword($event)"
              [ngClass]="{ 'is-valid': (submitted || f.crmPassword.dirty) && !f.crmPassword.errors, 'is-invalid': (submitted || f.crmPassword.dirty) && f.crmPassword.errors }">
            
            <div class="invalid-feedback" *ngIf="f.crmPassword.errors">
              <span *ngIf="f.crmPassword.value === f.password.value">confirm Password is required</span>
              <span *ngIf="f.crmPassword.value !== f.password.value"> Password doesn't match </span>
            </div>
          </div>

          <div class="form-group">
            <!-- user name -->
            <label for="email" class="control-label font-weight-bold">Full Name</label>
            <input type="text" class="form-control" formControlName="fullName" placeholder="User Name"
              [ngClass]="{ 'is-valid': (submitted || f.fullName.dirty) && !f.fullName.errors, 'is-invalid': (submitted || f.fullName.dirty) && f.fullName.errors }">
            <div class="invalid-feedback" *ngIf="f.fullName.errors">
              <span *ngIf="f.fullName.errors?.required">user Name  is required</span>
              <span *ngIf="f.fullName.errors?.email">User Name is not valid</span>
            </div>
          </div>

          <div class="form-group">
            <!-- phone -->
            <label for="email" class="control-label font-weight-bold">Phone</label>
            <input type="tel" class="form-control" formControlName="phone" placeholder="User Name"
              [ngClass]="{ 'is-valid': (submitted || f.phone.dirty) && !f.phone.errors, 'is-invalid': (submitted || f.phone.dirty) && f.phone.errors }">
            <div class="invalid-feedback" *ngIf="f.phone.errors">
              <span *ngIf="f.phone.errors?.required">Phone  is required</span>
              <span *ngIf="f.phone.errors?.email">Phone is not valid</span>
            </div>
          </div>

          <div class="form-group">
            <!-- email -->
            <label for="email" class="control-label font-weight-bold">Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Email address"
              [ngClass]="{ 'is-valid': (submitted || f.email.dirty) && !f.email.errors, 'is-invalid': (submitted || f.email.dirty) && f.email.errors }">
            <div class="invalid-feedback" *ngIf="f.email.errors">
              <span *ngIf="f.email.errors?.required">Email address is required</span>
              <span *ngIf="f.email.errors?.email">Email address is not valid</span>
            </div>
          </div>
          Already have an account? <a (click)="showRegisterScreen(false)">Login</a><br>

          <button type="submit" class="btn btn-block btn-primary" [disabled]=" signupForm.invalid || !strongPassword  || working">
            {{ working ? 'Working on it...' : 'Register' }}
          </button>
        </form>
      </div>
    </div>

    <div class="card text-white bg-success shadow-sm h-100" *ngIf=" !complete">
      <!-- show instagram page -->
      <app-instagram-ui></app-instagram-ui>
    </div>
  </div>
</div>

<!-- login -->
<div class="row">
  <div class="col-12 col-md-4 offset-md-4">
    <div class="card shadow-sm" *ngIf="!loginScreen">
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" novalidate autocomplete="off">
          <div class="form-group">
            <!-- email -->
            <label for="email" class="control-label font-weight-bold">Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Email address"
              [ngClass]="{ 'is-valid': (submitted || f.email.dirty) && !f.email.errors, 'is-invalid': (submitted || f.email.dirty) && f.email.errors }">
            <div class="invalid-feedback" *ngIf="f.email.errors">
              <span *ngIf="f.email.errors?.required">Email address is required</span>
              <span *ngIf="f.email.errors?.email">Email address is not valid</span>
            </div>
          </div>
          <!-- password -->
          <div class="form-group">
            <label for="password" class="control-label font-weight-bold">Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Choose a password" autocomplete="new-password"
              [ngClass]="{ 'is-valid': (submitted || f.password.dirty) && !f.password.errors, 'is-invalid': (submitted || f.password.dirty) && f.password.errors }">
            
          
            <div class="invalid-feedback" *ngIf="f.password.errors">
              <span *ngIf="f.password.errors?.required">Password is required</span>
              <span *ngIf="f.password.errors?.minlength">Password must be at least 20 characters long</span>
            </div>
          </div>          
          <a (click)="showRegisterScreen(true)">Signup</a><br>
          <a>Forget Password</a>
          <button type="submit" class="btn btn-block btn-primary" [disabled]=" loginForm.invalid">
            {{ working ? 'Working on it...' : 'Login' }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showProfile">
  <div class="form-group">
    <!-- <label for="email" class="control-label font-weight-bold">Choose Files</label> -->
    <!-- <input class="ng-hide" id="input-file-id" multiple type="file" />
    <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label> -->
   
  </div>
  
</div>

<router-outlet></router-outlet>